<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joke Generator</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="container">
        <h1>Joke of the Moment</h1>
        <% if (joke.error) { %>
            <p>
                <%= joke.error %>
            </p>
            <% } else { %>
                <% if (joke.type==="twopart" ) { %>
                    <p><strong>Q:</strong>
                        <%= joke.setup %>
                    </p>
                    <p><strong>A:</strong>
                        <%= joke.delivery %>
                    </p>
                    <% } else { %>
                        <p>
                            <%= joke.joke %>
                        </p>
                        <% } %>
                            <% } %>
                                <button onclick="window.location.reload()">Get Another Joke</button>
    </div>
</body>

</html>